@import 'https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200';

﻿/* General Style */
body {
	width: 42em;
	margin: 0 auto;
}
h1, h2, h3, h4 {
	font-family: 微软雅黑;
	text-align: center;
	}

.link {
	font-family: 宋体;;
	font-size: 15px;
	text-align: right;
	color: blue;
	position: relative;
	top: -4em;
	}
	
.noindent {
	text-indent: 0em;
	}
nav, .topbar {
	font-size: small;
	text-align: right;
	margin-top: 0em;
	cursor: pointer;
	color: blue;
	font-family: 宋体;
}

nav a {
	border-style: none;
	}

a:visited {
	color: blue;
}

/*表格格式*/
table {
	border-collapse:collapse;
	border-top:2px solid black;
	border-bottom:2px solid black;
	table-layout:fixed;
	margin-bottom:2em;
	margin-top:-1em;
	width:100%;	
}

th, td {
	border:1px solid black;
	border-collapse:collapse;
	padding:0.5em;
}

th {
	background-color:#c5deff;
}

table.p70 {
	font-size:0.7em;
	font-family:SimSun;
	}
table.s table.fr {
	font-size: 80%;
	font-family:SimSun;
	table-layout:auto;
}

table.s td, table.s th, p.i, .fr td, .fr th{
	font-size: 80%;
}

p.tNote {
	font-size: 14px;
	font-family: SimSun;
}

table.r td {
	text-align:right;
	padding-right:0.5em
}

table.c td {
	text-align:center
}

table.l td {
	padding-left:0.5em
}

td.l {
	text-align:left!important;
	padding-left:0.5em
}

td.c {
	text-align:center!important;
}

td.r {
	text-align:right!important;
}

table td.pr0 {
	padding-right:0;
	}
table td.brd, table th.brd {
	border-right:3px double black
}

table {
	border-left:2px solid white;
	border-right:2px solid white;
}

body.clientViewer p {
	line-height: 2em;
	color:red!important;
}

.indent {
	text-indent: 2em;
	}
	
.nb {
	border-style: none;
	}

.nb th {
	border-style: none;
	background-color:transparent;
	border-bottom: 1px solid black;
	vertical-align: bottom;
	}
.nb td {
	border-style:none;
	}

.nbtb td {
	border-top-style: none;
	border-bottom-style: none;
}

caption {
	font-weight: bold;
	margin-bottom: 1em;
	}
	
.u {
	border-bottom: 1px solid;
	}
	
.du {
	border-bottom: 3px double;
	}
.formula {
	font-family: 'Times New Roman';
	font-style: italic;
	}

.ccl td:nth-child(1) {
	text-align: center; 
	}
	
.ccl td:nth-child(2) {
	text-align: center; 
	}

.ccl td:nth-child(3) {
	text-align: left; 
	}
.fr tr {
	height: 1em;
}

.fr th {
	padding:0;
}

.bs td:nth-child(3), .bs th:nth-child(3) {
	border-right: 3px double black;
}

.r {
	text-align: right;
}

table.c-c-l tr td:nth-child(1) {
	text-align: center;
}
table.c-c-l tr td:nth-child(2) {
	text-align: center;
}
table.c-c-l tr td:nth-child(3) {
	text-align: left;
}

table.c1 tr td:nth-child(1) {
	text-align: center;
}
table.c2 tr td:nth-child(2) {
	text-align: center;
}
table.c3 tr td:nth-child(3) {
	text-align: center;
}
table.c4 tr td:nth-child(4) {
	text-align: center;
}
table.l1 tr td:nth-child(1) {
	text-align: left;
}
table.l2 tr td:nth-child(2) {
	text-align: left;
}
table.l3 tr td:nth-child(3) {
	text-align: left;
}
table.l4 tr td:nth-child(4) {
	text-align: left;
}
table.r1 tr td:nth-child(1) {
	text-align: right;
}
table.r2 tr td:nth-child(2) {
	text-align: right;
}
table.r3 tr td:nth-child(3) {
	text-align: right;
}
table.r4 tr td:nth-child(4) {
	text-align: right;
}

